:root {
    --accent-color: #2196f3;
    --primery-font-family: 'Roboto', sans-serif; 
    --second-font-family: 'Raleway', sans-serif;
    --primery-text-color: #212121; 
    --second-text-color: #757575;
}

body {
    font-family: var(--primery-font-family);
    color: var(--primery-text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*======START COMPONENTS======*/
.section-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.hidden-header {
    color: #FFFFFF;
}
/*======END COMPONENTS======*/

/*======START HEADER======*/
.logo {
    font-family: var(--second-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.accent-header {
    color: var(--primery-text-color);
}

.nav-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-mail-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.contact-tel-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--accent-color);
} 

.contact-mail-header:hover,
.contact-mail-header:focus {
    color: var(--accent-color);
} 

.contact-tel-header:hover,
.contact-tel-header:focus {
    color: var(--accent-color);
} 

/*======END HEADER======*/

/*======START INFO SECTION======*/
.hero {
    background: #2F303A;
}

.info-section {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-order {
    font-family: var(--primery-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

/*======END INFO SECTION======*/

/*======START BENEFITS SECTION======*/

.benefits-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/*======END BENEFITS SECTION======*/

/*======START TEAM SECTION======*/
.our-team-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
/*======END TEAM SECTION======*/

/*======START FOOTER======*/

.footer {
    background: #2F303A;
}

.logo {
    font-family: var(--second-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.accent-footer {
    color: #FFFFFF;
}

.contact-address-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF
}

.contact-mail-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.contact-tel-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*======END FOOTER======*/

/*======START PORTFOLIO======*/
.portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    }

.portfolio-button:hover,
.portfolio-button:focus {
    color: #FFFFFF;
    background: var(--accent-color);
} 

.portfolio-heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
/*======END PORTFOLIO======*/